*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

header{
    display:flex;
    justify-content: space-between;
    margin-right: 150px;
    align-items: baseline;
}
hr{
    margin: 20px 0px;
}
h2, section h3{
    margin-left: 2rem;
}
ol, ul{
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

div{
    white-space: pre-line;
    text-align:left;
    padding-left: 100px;
    line-height: 1.4;
}
.flex{
    display: flex;
    justify-content:flex-start;
    padding: 0px;
    min-width: 100%;
}
.caja{
    min-width: 33.33%;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
}

img{
    position:absolute;
    top: 125px;
    right: 150px;
    border: 1px solid rgba(0, 0, 0, 0.815);
    border-radius: 100%;
}

#desPersonal div b{
    line-height: 25px;
}


@media screen and (max-width: 900px) {
    body, a {
      background-color: black;
      color:white;
    }
    header{
        display:flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        align-items: baseline;
    }
    img{
        position: static;
        float: right;
        top: 125px;
        right: 150px;
        border: 1px solid rgba(0, 0, 0, 0.815);
        border-radius: 100%;
    }
    section h3{
        margin-left: 1rem;
    }
    div{
        white-space: pre-line;
        text-align:left;
        padding-left: 1rem;
        line-height: 1.4;
    }
  }

